:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-secondary: #ffffff66;

  --red: #eb3b5a;
  --green: #20bf6b;
  --blue: #4b7bec;

  --red-washed: #eb3b5a88;
  --green-washed: #20bf6b88;
  --blue-washed: #4b7bec88;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: var(--foreground);
  background-color: var(--background);
}

html,
body,
div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--foreground);
}

* {
  box-sizing: border-box;
}
